.markdown h1 {
  @apply font-bold text-2xl pt-8 pb-4;
}

.markdown h2 {
  @apply clear-both font-semibold text-xl pt-8 pb-4 text-gray-900;
}

.markdown h3 {
  @apply font-semibold text-lg pt-4 pb-4 text-gray-700;
}

.markdown h2 + h3 {
  @apply pt-0;
}

.markdown p {
  @apply pb-4 leading-normal;
}

.markdown code {
  @apply inline-block font-mono font-medium text-sm text-orange-600 bg-gray-300 p-2 pb-0 pt-1 border-gray-500 border-r border-b rounded-sm whitespace-pre;
}

.markdown pre {
  @apply mb-8 w-full max-h-40 overflow-auto leading-normal bg-gray-900 shadow-xl;
}

.markdown pre code {
  @apply text-white font-mono font-normal bg-gray-900 border-0;
}

.markdown a {
  @apply font-medium text-blue-700 underline;
}

.markdown a:visited {
  @apply font-medium text-purple-700 underline;
}

.markdown a:hover {
  @apply font-medium text-indigo-500 underline;
}

.markdown hr {
  @apply border-gray-500 border-t-2 pb-4;
}

.markdown img {
  max-height: 10em;
  max-width: 10em;
  float: right;
}

.markdown figure {
  @apply bg-blue-200 mb-3 p-1 text-center shadow-xl;
}

@screen sm {
  .markdown figure {
    @apply float-right;
    max-width: 50%;
  }
}

.markdown figure.in-flow {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: fit-content;
  float: none;
}

.markdown figure img {
  max-height: 100%;
  max-width: 100%;
  float: none;
  display: inline-block;
}

.markdown figure figcaption {
  @apply pt-2 pb-2;
}

.markdown aside {
  @apply text-sm bg-indigo-200 mb-8 p-2 shadow-xl;
}

.markdown blockquote {
  @apply bg-indigo-200 mb-8 p-2 shadow-xl;
}

.markdown blockquote p:first-child::before {
  content: '“';
  bottom: -0.5rem;
  line-height: 0;
  @apply relative pr-1 text-4xl text-blue-700;
}

.markdown blockquote p:last-child::after {
  content: '”';
  bottom: -1.5rem;
  line-height: 0;
  @apply relative pl-1 text-4xl text-blue-700;
}

.markdown ul,
.markdown ol {
  @apply ml-6 pb-4 leading-normal;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}