.presentation {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  padding: 1em;
}

.presentation:hover {
  cursor: pointer;
}

.presentation > :not(ul) {
  flex-grow: 1;
  overflow: hidden;
}

.presentation *.invisible {
  visibility: hidden;
  opacity: 0;
  margin-left: -100px;

  transition: visibility 1s, opacity 1s linear, margin-left 1s linear;
}

.presentation > h1 {
  flex-grow: 0;
  padding-bottom: 1em;
}

.presentation > ul {
  flex-grow: 1;
}

.presentation p,
.presentation li {
  line-height: 1.5;
}

.presentation p {
  text-indent: -2em;
  padding-left: 2em;
}