.presentation {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  padding: 1em;
}

.presentation:hover {
  cursor: pointer;
}

.presentation > :not(ul) {
  flex-grow: 1;
  overflow: hidden;
}

.presentation > ul {
  flex-grow: 0;
  padding-bottom: 3em;
}

.presentation p,
.presentation li {
  line-height: 1.5;
}

.presentation p {
  text-indent: -2em;
  padding-left: 2em;
}