.social-icon:before {
  content:'';
  display:inline-block;
  width:1em;
  height:1em;
  background:url(../images/social-icons.svg) no-repeat 0 0;
  background-size: 5em;
  font-size:1.333em;
  margin-right: 0.1em;
}

.social-icon.twitter:before {
  background-position: -1.9em -0em;
}

.social-icon.linkedin:before {
  background-position: -0.2em -1.2em;
}

.social-icon.dev-to:before {
  background-image: url(https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg);
  background-size: 0.8em;
  background-position: 0 0.15em;
}